body {
background-color: #F1F2F4;
}

 .btn-primary {
  background-color: #04356A; !important;
  border: 1px solid #0E263E !important;
  color: ##F1F2F4 !important;
}

 .btn-primary:hover {
  background-color: #0E263E !important;
  color: ##F1F2F4 !important;
}

 h2, h3, h5, h6 {
    color: F1F2F4;
}
